.search-form {
  margin-bottom: 0;
  align-self: flex-start; /* Aligns the form to the left */
  width: 100%; /* Ensures the form takes full width of its container */
}

.search-input {
  padding: 9px;
  margin-right: 10px;
  margin-left: 5px;
  border: 0.5px solid #ccc;
  width: calc(100% - 16px); /* Full width minus padding */
  max-width: 200px; /* Limit maximum width */
}

.search-input:focus {
  outline: none;
}
