.word-details {
    border: 1px solid #e0e0e0;
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.word-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.word-header h1 {
    margin: 0;
    color: #4caf50;
    font-size: 2.5rem;
}

.bookmark-icon {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #4caf50;
}

.pronunciation {
    color: #666;
    margin-top: 5px;
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.speaker-icon {
    margin-right: 5px;
    /* Space between icon and pronunciation */
}

.definitions,
.translations {
    margin-top: 20px;
}

.definition,
.translation {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.definition strong,
.translation strong {
    color: #4caf50;
    font-weight: bold;
}

.definition p,
.translation p {
    margin: 5px 0;
}

/* New styles for part of speech and its Uzbek translation */
.definition p {
    display: flex;
    justify-content: space-between;
    /* Space out part of speech and translation */
    align-items: center;
    /* Center align vertically */
}

.synonym-link {
    color: #2196F3;
    text-decoration: none;
}

.synonym-link:hover {
    text-decoration: underline;
}

h2 {
    color: #2196F3;
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 10px;
}